{% extends "admin:admin/base.html" %}
{% load staticfiles %}
{% load compress %}

{% block extrahead %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	{% compress css %}
	<link rel="stylesheet" type="text/x-scss" href="{% static "admin/scss/styles.scss" %}" />
	{% endcompress %}
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
{% endblock %}

{% block blockbots %}
	<script type="text/javascript" src="{% static "admin/js/lib/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "admin/js/lib/jquery.cookie.js" %}"></script>
	<script type="text/javascript" src="{% static "admin/js/extensions.js" %}"></script>
	<script type="text/javascript" src="{% static "admin/js/photo_upload.js" %}"></script>
	{{ block.super }}
{% endblock %}