body {
	font-family: $font;
	font-size: $font-size;
	line-height: 1.2em;
	color: #666;
	margin: 15px;
	h1, h2, h3 {
		font-family: $heading-font!important;
		text-transform: $heading-style!important;
		line-height: 1.4em!important;
		font-weight: normal!important;
		padding: 0!important;
		margin-bottom: 10px!important;
		background: none!important;
	}
	h1 {
		font-size: 2.5em;
	}
	h2 {
		font-size: 2.3em;
	}
	h3 {
		font-size: 2em;
	}
	a, a:link, a:active, a:visited {
		color: $link-color;
		text-decoration: none;
	}
	a:hover {
		color: $link-hover-color;
		text-decoration: underline;
	}
	#container {
		min-width: 62em;
		#content {
			margin: 0;
			clear: both;
			h2 {
				border-bottom: solid 1px #000;
			}
			#content-main {
				clear: both;
			}
		}
	}
}