/* Changelist only */

/* ========== Toolbar (search) ========== */

.change-list .filtered {
	min-height: 0;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull, .filtered div.actions {
	margin-right: 0!important;
}

#changelist {
	width: auto;
	margin-right: 200px;
	@include transition(all);
	&.hide-filters {
		margin-right: 0;
		#changelist-filter {
			display: none;
		}  	
	}
	&.module {
		border: none;
	}
	#toolbar {
		position: absolute;
		top: -42px;
		right: 0;
		background: none;
		background-color: #222;
		padding: 6px 8px;
		border: none;
		@include rounded(2px 2px 0 0);
		form {
			position: relative;
			background: #FFF;
			@include shadow();
			@include rounded(2px 0 2px 2px);
			input {
				height: 26px;
				font-size: 12px;
				background: #DDD;
				margin: 0;
				margin-left: 5px;
				padding: 0 5px;
				border: none;
				@include rounded(2px);
			}
			input#searchbar {
				width: 140px;
				padding: 0 5px;
			}
			input#search-submit {
				font-size: 1.2em;
				border: none;
				color: $link-color;
				background-color: #FFF;
				padding: 1px 10px 0 10px;
				height: 30px;
				&:hover {
					color: $link-hover-color;
				}
			}
			input#search-submit:hover {
				@include fake-link();
			}
			span {
				position: absolute;
				left: -8px;
				top: -25px;
			}
		}
		a#toggle {
			line-height: 2em;
			border-right: solid 2px #222;
			padding: 5px 10px 5px 20px;
			position: absolute;
			top: -55px;
			right: 0;
			background-color: #FFF;
			background-repeat: no-repeat;
			cursor: pointer;
			text-transform: uppercase;
			@include rounded(17px 0 0 17px);
		}
		a#toggle.show {
			padding-left: 30px;
			background-image: url('../img/left_arrow.gif');
			background-position: 8% center;
		}
		a#toggle.hide {
			padding-right: 30px;
			background-image: url('../img/right_arrow.gif');
			background-position: 92% center;
		}
	}
	#changelist-filter {
		background: none;
		border: none;
		right: -180px;
		h2 {
			display: inline-block;
			margin: 0 0 10px 0;
			padding: 0 0 3px 0;
			font-size: 28px;
			border-bottom: solid 1px #000;
			font-weight: normal;
			background: none;
			color: #000;
		}
		li.selected {
			border-left: solid 5px #222;
		}
	}
	.xfull {
		border: none;
		border-top: solid 3px #000;
		.toplinks {
			background: #FFF;
			border-bottom: none;
		}
	}
	.actions {
		background: none;
		border-right: none;
		border-bottom: none;
		border-top: none;
		padding: 5px 5px 10px 5px;
		select {
			margin: 0;
			width: 200px;
		}
		button.button {
			background: #000;
			border: none;
			color: #FFF;
			padding: 3px 5px 4px 5px;
			@include rounded(2px);
			cursor: pointer;
		}
	}
	.results {
		#result_list {
			border: none;
			thead th {
				background: $block-color;
				text-transform: uppercase;
				text-align: center;
				line-height: 1.4em;
				padding: 5px;
				font-family: $heading-font;
				font-size: 1.4em;
				font-weight: normal;
				.sortoptions {
					padding: 0 5px;
					height: 27px;
					span {
						line-height: 27px;
					}
					a {
						width: 14px;
						height: 14px;
						margin-top: 6px;
					}
					a.sortremove {@include sorting-icons(-4px -6px);}
					a.sortremove:hover {@include sorting-icons(-4px -28px);}
					a.ascending {@include sorting-icons(-5px -50px);}
					a.ascending:hover {@include sorting-icons(-5px -72px);}
					a.decending {@include sorting-icons(-5px -94px);}
					a.decending:hover {@include sorting-icons(-5px -115px);}
				}
				a, a:link, a:active, a:visited {
					color: #FFF!important;
					&:hover {
						color: #FFF!important;
					}
				}
			}
			tbody {
				tr {
					background: #FFF;
					td, th {
						vertical-align: middle;
					}
				}
			}
		}
	}
	.paginator {
		background: none;
		border: none;
		input {
			@include button();
			@include rounded(2px);
		}
		input:hover {
			@include fake-link();
		}
		a:hover {
			background: #FFF;
			border-color: #000;
		}
	}
}

.submit-row {
	padding: 10px;
	background: none;
	input {
		@include button();
		@include rounded(2px);
		&.default {
			@include button($button-background, $button-hover-background);
		}
	}
	p.deletelink-box {
		position: absolute;
		left: 0;
		bottom: -10px;
	}
}