/* Changelist only */

/* ========== Toolbar (search) ========== */

.change-list .filtered {
	min-height: 0;
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull, .filtered div.actions {
	margin-right: 0 !important;
}

#changelist {
	width: auto;
	display: block;
	margin-right: 200px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	#toolbar {
		display: inline-block;
		position: absolute;
		top: -42px;
		right: 0;
		background: none;
		background-color: $feature;
		padding: 6px 8px;
		border: none;
		@include rounded(2px 2px 0 0);
		form {
			position: relative;
			input {
				height: 26px;
				font-size: 12px;
				background: #DDD;
				margin: 0;
				margin-left: 5px;
				padding: 0 5px;
				border: none;
				@include rounded(2px);
			}
			input#searchbar {
				width: 140px;
			}
			input#search-submit {
				@include button();
				background-color: $light;
				padding: 1px 10px 0 10px;
				color: $link;
				height: 30px;
			}
			input#search-submit:hover {
				@include fake-link();
				color: $link-hover;
			}
			span {
				position: absolute;
				left: 0;
				top: -30px;
				font-size: 1em;
			}
		}
		a#toggle {
			line-height: 24px;
			border-right: solid 2px #222;
			padding: 0 10px;
			position: absolute;
			top: -40px;
			right: 0;
			background-repeat: no-repeat;
			cursor: pointer;
		}
		a#toggle.show {
			padding-left: 30px;
			background-image: url('../img/e-left_arrow.gif');
			background-position: 8% center;
		}
		a#toggle.hide {
			padding-right: 30px;
			background-image: url('../img/e-right_arrow.gif');
			background-position: 92% center;
		}
	}
	#changelist-filter {
		background: none;
		border: none;
		right: -180px;
		h2 {
			display: inline-block;
			margin: 0 0 10px 0;
			padding: 0 0 3px 0;
			font-size: 28px;
			border-bottom: solid 1px #000;
			font-family: $feature-font;
			font-weight: normal;
			background: none;
			color: $strong;
		}
		h3 {
			font-size: 20px;
		 margin-bottom: 0.3em;
		 color: $strong;
		}
		li {
			a {
				font-size: 1.2em;
				line-height: 1.4em;
				color: $link;
				text-decoration: none;
				font-weight: normal;
				&:link, &:active, &:active, &:visited {color: $link; text-decoration: none;}
				&:hover {color: $link-hover; text-decoration: underline;}
			}
		}
		li.selected {
			border-left: solid 5px #222;
			a {
				font-size: 1.2em;
				line-height: 1.4em;
				color: $strong!important;
				text-decoration: none;
				font-weight: normal;
				&:link, &:active, &:active, &:visited {color: $strong!important; text-decoration: none;}
				&:hover {text-decoration: underline;}
			}
		}
	}
	.xfull {
		border: none;
		border-top: solid 3px $strong;
		background: $light;
		.toplinks {
			background: $light;
			border-bottom: none;
			li {
				a {
					font-size: 1.2em;
					line-height: 26px;
				}
			}
		}
	}
	.actions {
		background: $light;
		border-right: none;
		border-bottom: none;
		padding: 5px 5px 10px 5px;
		label, span.action-counter {
			font-size: 1em;
		}
		select {
			margin: 0;
			width: 200px;
		}
		button.button {
			background: $strong;
			border: none;
			color: $light;
			padding: 3px 5px 4px 5px;
			@include rounded(2px);
		}
		button.button:hover {
			@include fake-link();
		}
	}
	.results {
		#result_list {
			border: none;
			thead th, tfoot td {
				background: $brand;
				color: $text-on-brand;
				font-weight: normal;
				text-transform: uppercase;
				font-family: $feature-font;
				font-size: 1.4em;
				padding: 5px;
				text-align: center;
				.sortoptions {
					padding: 0 5px;
					height: 27px;
					span {
						line-height: 27px;
					}
					a {
						width: 14px;
						height: 14px;
						margin-top: 6px;
					}
					a.sortremove {@include sorting-icons(-4px -6px);}
					a.sortremove:hover {@include sorting-icons(-4px -28px);}
					a.ascending {@include sorting-icons(-5px -50px);}
					a.ascending:hover {@include sorting-icons(-5px -72px);}
					a.decending {@include sorting-icons(-5px -94px);}
					a.decending:hover {@include sorting-icons(-5px -115px);}
				}
				a {
					color: $link-on-brand;
					text-decoration: none;
					text-transform: uppercase;
					&:link, &:active, &:active, &:visited {color: $link-on-brand;}
					&:hover {text-decoration: underline;}
				}
			}
			tbody {
				tr {
					background: $light;
					td, th {
						vertical-align: middle;
					}
				}
			}
		}
	}
	.paginator {
		background: $light;
		border: none;
		font-size: 1em;
		input {
			@include button();
			@include rounded(2px);
		}
		input:hover {
			@include fake-link();
		}
		a:hover {
			background: $light;
			border-color: $strong;
			color: $link-hover;
		}
	}
}

#changelist.module {
	border: none;
}

#changelist {
	margin-right: 0;
	#changelist-filter {
		display: none;
	}  
}

#changelist.show-filters {
	margin-right: 200px;
	#changelist-filter {
		display: block;
	}  
}

.submit-row {
	padding: 10px;
	background: $light;
	input {
		@include button();
		@include rounded(2px);
		background-color: #AAA;
	}
	input:hover {
		@include fake-link();
	}
	input.default {
		@include button();
	}
	p.deletelink-box {
		position: absolute;
		left: 0;
		bottom: -10px;
	}
}