/* Change form */

.change-form {
	#content {
		.cancel-header {
			float: right;
			margin: 4px 0;
			@include button();
			@include rounded(2px);
		}
		.cancel-footer {
			float: left;
			font-size: 1.2em;
			line-height: 2.6em;
		}
		fieldset, .inline-group {
			background: #FFF;
			border: none;
			@include shadow(#AAA);
			margin-bottom: 30px;
			h2 {
				margin: 12px;
				display: inline-block;
				border-bottom: solid 1px #000;
			}
			table {
				thead th, tfoot td {
					background: $block-color;
					color: #FFF;
					font-weight: normal;
					text-transform: uppercase;
					font-family: $heading-font;
					font-size: 1.4em;
					padding: 5px;
					text-align: center;
				}
				tbody {
					tr {
						background: #FFF;
						td, th {
							vertical-align: middle;
						}
						td.original {
							position: relative;
							p {
								top: 2px;
							}
						}
					}
					tr.add-row {
						td {
							background: #FFF;
							padding: 12px;
						}
					}
				}
			}
			h3 {
				background: $block-color;
				font-size: 16px;
				border: none;
				color: #FFF;
				font-weight: normal;
				margin: 12px;
				padding: 5px 80px 5px 10px;
				display: inline-block;
				text-transform: capitalize;
				position: relative;
				a.inline-deletelink {
					position: absolute;
					right: 10px;
					top: 9px;
				}
				span.delete {
					position: absolute;
					right: 10px;
					top: 5px;
					label {
						color: #FFF;
						font-size: 0.8em;
					}
				}
			}
			.selector {
				.selector-filter {
					border-width: 1px 1px 0 1px;
				}
				.selector-chosen select {
					border-top: 1px solid #CCC;
				}
				h2 {
					font-size: 1.5em!important;
					border: none;
					text-transform: none!important;
				}
				select {
					height: 10em;
				}
			}
		}
		.inline-related fieldset {
			margin-bottom: 0;
			-moz-box-shadow: 0 0 0 #FFF;
			-webkit-box-shadow: 0 0 0 #FFF;
			box-shadow: 0 0 0 #FFF;
		}
		div.add-row {
			background: #FFF;
			padding: 12px;
		}
	}
}