div#batch-upload {
	div.progress-bar {
		height: 20px!important;
		background-color: #539345!important;
	}
	button#upload-button {
		@include button();
		@include button-icon('../img/icon_addlink-white.gif');
	}
	input#upload-area {
		margin-left: 12px;
	}
}