div#batch-upload {
	div.progress-bar {
		height: 20px!important;
		background-color: #539345!important;
	}
	button#upload-button {
		@include button();
		@include button-icon('../img/icon_addlink-white.gif');
		@include rounded(2px);
	}
	input#upload-area {
		margin-left: 12px;
	}
	div#batch-inner {
		p {
			margin: 20px 12px;
		}
	}
}

.reveal-modal {
	width: 50%;
	margin-left: -25%;
	ul.modal-actions {
		list-style: none;
		overflow: hidden;
		padding-left: 0;
		li {
			float: left;
			margin-right: 1em;
			a.secondary {
				background: #CCC!important;
			}
		}
	}
	a.close-reveal-modal {
		@include rounded(2px)!important;
		background: #000!important;
		background-image: none!important;
		padding: 5px 10px!important;
	}
}