/* Dashboard only */

.dashboard {
	.module {
		background: none;
		border: none;
		margin-bottom: 2em;
		caption {
			background: none;
			float: left;
			line-height: 1.4em;
			border-bottom: solid 1px #000;
			padding: 0;
			margin-bottom: 10px;
			font-family: $heading-font;
			font-size: 2.3em;
		}
		tr {
			background: #F3F3F3;
			td, th {
				line-height: 2em;
				vertical-align: middle;
				border-bottom: solid 2px #FFF;
			}
		}
	}
	#content-related {
		margin-right: -21em;
		.module {
			ul {
				li {
					font-size: 1em;
					line-height: 1.4em;
					margin: 5px 0;
					a {
						
					}
					span {
						font-size: 0.9em;
					}
				}
			}
		}
	}
}
