/* Dashboard only */

.dashboard {
	.module {
		background: transparent;
		border: none;
		margin-bottom: 2em;
		caption {
			display: inline-block;
			margin: 0 0 10px 0;
			padding: 0 0 3px 0;
			font-size: 28px;
			border-bottom: solid 1px #000;
			font-family: $heading-font;
			font-weight: normal;
			background: none;
			a {
				color: $link-color;
				&:link, &:active, &:active, &:visited {color: $link-color;}
				&:hover {color: $link-hover-color;}
			}
		}
		tr {
			background: #F3F3F3;
			td, th {
				line-height: 1.6em;
				vertical-align: middle;
				border-bottom: solid 2px #F3F3F3;
			}
		}
	}
	#content-related {
		margin-right: -21em;
		.module {
			h2 {
				display: inline-block;
				margin: 0 0 10px 0;
				padding: 0 0 3px 0;
				font-size: 28px;
				border-bottom: solid 1px #000;
				font-family: $heading-font;
				font-weight: normal;
				background: none;
				color: #000;
			}
			h3 {
				font-size: 22px;
				color: #000;       
			}
			ul {
				li {
					font-size: 1em;
					line-height: 1.4em;
					margin: 5px 0;
					a {
						
					}
					span {
						font-size: 0.9em;
					}
				}
			}
		}
	}
}
