/* Icon overrides */

.addlink {background: url('../img/icon_addlink.gif') 0 4px no-repeat;}
.changelink {background: url('../img/icon_changelink.gif') 0 4px no-repeat;}

.changelink, .addlink {padding-left: 15px;}