/* ========== Buttons ========== */

@mixin button($bg: #374A52, $hvrbg: #29383D) {
	color: #FFF!important;
	padding: 10px 15px;
	font-size: 1.2em;
	background: $bg;
	border: none;
	cursor: pointer;
	&:hover {
		background: $hvrbg;
		color: #FFF!important;
	}
}

@mixin button-icon($icon) {
	padding-left: 30px;
	background: $button-background url(#{$icon}) 12px 12px no-repeat;
	&:hover {
		background: $button-hover-background url(#{$icon}) 12px 12px no-repeat;
	}
}

/* ========== CSS3 ========== */

@mixin shadow($color: rgba(0, 0, 0, 0.5)) {
	-webkit-box-shadow: 0 0 6px $color;
	-moz-box-shadow: 0 0 6px $color;
	box-shadow: 0 0 6px $color;
}



@mixin rounded($radius) {
	-webkit-border-radius: #{$radius};
	-moz-border-radius: #{$radius};
	border-radius: #{$radius};
}

@mixin transition($var) {
	-webkit-transition: $var 0.5s ease-in-out;
	-moz-transition: $var 0.5s ease-in-out;
	-o-transition: $var 0.5s ease-in-out;
	transition: $var 0.5s ease-in-out;
}

/* ========== Icons ========== */

@mixin sorting-icons($position) {
	background: transparent url('../img/e-sorting-icons.gif') #{$position} no-repeat;
}

/* ========== Helper Mixins ========== */

@mixin fake-link() {
	text-decoration: underline;
	cursor: pointer;
}