ul.object-tools {
	position: static;
	display: inline-block;
	float: left;
	margin: 0 0 0 25px;
	padding-left: 15px;
	border-left: solid 2px #CCC;
	li {
		height: auto;
		background: none;
		float: left;
		margin: 0 15px 0 0;
		padding: 0 0 0 0;
		&:hover {
			background: none;
		}
		a, a:link, a:active, a:visited {
			margin: 4px 0;
			@include button();
			@include rounded(2px);
			color: #FFF!important;
			&:hover {
				text-decoration: underline;
				color: #FFF!important;
				background-color: #1C5C76;
			}
			&.addlink {
				@include button();
				@include button-icon('../img/icon_addlink-white.gif');
			}
			&.viewsitelink {
				@include button();
				&:hover {
					@include button();
				}
			}
		}
	}
}