// Base

$font: Arial, Helvetica, sans-serif;
$font-size: 12px;

// Links

$link-color: #0088CC;
$link-hover-color: #005580;

// Comapny Logo

$logo: url('../img/logo.png');

// Headings

$heading-font: 'Open Sans Condensed', sans-serif;
$heading-style: uppercase;