/* Colours */

$base: #4C4C4C;             /*  base text colour */
$strong: #251909;           /*  stronger text colour */
$brand: #007BBC; 
$light: #FFF;           /*  distictive brand colour */
$link: #0079C3;             /*  text link colour */
$link-hover: #005682;       /*  text link hover colour */
$feature-link: #C1680F;             /*  text link colour */
$feature-link-hover: #AF5E0C;       /*  text link hover colour */
$text-on-brand: $light;       /*  text on the brand colour */
$link-on-brand: $light;       /*  text link on the brand */
$background: #F3F3F3;       /*  site background colour */
$highlight: #E4E4E4;        /*  highlight colour for elements on the background */
$feature: #222;             /*  fill colour for buttons and key UI elements */
$text-on-feature: $light;     /*  text on feature colour */
$link-on-feature: $light;     /*  link on the feature colour */

/* Typography */

$font: Arial, Helvetica, sans-serif;
$feature-font: 'Open Sans Condensed', sans-serif;