/* ========== Project Overrides ========== */

// Base

$font: Arial, Helvetica, sans-serif;
$font-size: 12px;

// Links

$link-color: #0088CC!important;
$link-hover-color: #005580!important;

// Comapny Logo

$logo: url('../img/logo.png');

// Headings

$heading-font: 'Open Sans Condensed', sans-serif;
$heading-style: uppercase;

// Widgets

$block-color: #0088CC;