/* Widgets */

.calendarbox a.calendarnav-previous, .calendarbox a.calendarnav-next {
	background: none;
}

.calendarbox {
	border: solid 1px $block-color; 
	p.calendar-cancel {
		background: #FFF;
	}
}

div.calendar {
	table {
		caption {
			background: $block-color;
		}
		th {
			background: #FFF;
			color: #888;
		}
		tr {
			td {
				a {
					&:hover {
						color: #FFF;
						background: $block-color;
					}
				}
			}
		}
	}
}